

SetList{font-size: 18px; background-color: #524E4F; 
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif; 
    text-align: center; color: #786E44; text-align: center; display:block}
title, Presents {color: #968A84; font-size:30px}
concertTitle{color: #B46C42; display: block; text-align: center; font-size: 35px}
artist, genre, year{color: #570e14; display: block; text-align: center;}
dedication{color: #968A84; display: block; text-align: center;}
bandName{color: #B46C42; display: block; text-align: center; font-size: 40px;}